[submodule "comparisons/DeepWarp"]
	path = comparisons/DeepWarp
	url = https://github.com/BlueWinters/DeepWarp
[submodule "comparisons/gaze_redirection"]
	path = comparisons/gaze_redirection
	url = https://github.com/HzDmS/gaze_redirection
