[submodule "comparison/DeepWarp"]
	path = comparison/DeepWarp
	url = https://github.com/BlueWinters/DeepWarp
[submodule "comparison/gaze_redirection"]
	path = comparison/gaze_redirection
	url = https://github.com/HzDmS/gaze_redirection
